repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        exclude: ^(tests/|infra/alembic/|alembic/|.*_test\.py$)
      - id: ruff-format
        exclude: ^(tests/|infra/alembic/|alembic/|.*_test\.py$)

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
