services:
  app:
    build:
      context: ../
      dockerfile: Dockerfile
    container_name: semantic-poc-app
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ../:/app
    env_file:
      - ../.env
    environment:
      - DATABASE_URL=postgresql+psycopg2://user:password@db:5432/embeddings_db
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: pgvector/pgvector:pg16
    container_name: semantic-poc-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: embeddings_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  adminer:
    image: adminer:latest
    container_name: semantic-poc-adminer
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db_data:
